#page {
    padding: 1em;
}

.page-heading {
    padding: 0 0 20px 0;
}

#sidebar {
    padding-top: 8px;
}

#sidebar li a {
    font-size: 16px;
}

textarea {
    height: 100px;
}

a.shut {
    color: #1a1a1a;;
}
