<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="application"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8" ng-app="application"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9" ng-app="application"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js" ng-app="application"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Sample AngularJS app to demonstrate the pub/sub pattern.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" type="image/png" href="favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="vendor/foundation/css/normalize.css">
        <link rel="stylesheet" href="vendor/foundation/css/foundation.min.css">
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <title>AngularJS Pub/Sub-Pattern</title>
    </head>
    <body ng-cloak>
        <!--[if lt IE 7]>
        <p class="chromeframe">
            You are using an <strong>outdated</strong> browser.' +
            'Please <a href="http://browsehappy.com/">upgrade your browser</a> ' +
            'or <a href="http://www.google.com/chromeframe/?redirect=true"> ' +
            'activate Google Chrome Frame</a> to improve your experience.
        </p>
        <![endif]-->

        <!-- Page content -->
        <div id="page">
            <div class="row">
                <div id="sidebar" class="small-3 columns">
                    <div ng-controller="StatsCtrl">
                        <h4>Daily stats</h4>
                        <p>
                            <strong>Messages: </strong>
                            {{stats.messageCount}}<br/>
                            <strong>User: </strong>
                            {{stats.userCount}}
                        </p>
                    </div>
                </div>
                <div id="main" class="small-9 columns">
                    <div ng-controller="ApplicationCtrl" id="header">
                        <!-- Alert box for displaying notifications -->
                        <alert-box message="{{notification.message}}"
                                   type="{{notification.type}}"
                                   is-active="notification.active">
                        </alert-box>

                        <div class="header">
                            <h1>{{app.title}}</h1>
                        </div>
                    </div>

                    <div ng-controller="MessagesCtrl">
                        <h2>{{heading}}</h2>

                        <form>
                            <div class="row">
                                <div class="large-12 columns">
                                    <input ng-model="name"
                                           type="text"
                                           placeholder="Your name...">
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <textarea ng-model="shout"
                                              placeholder="Your message..."></textarea>
                                </div>
                            </div>
                            <div class="button-bar">
                                <button ng-click="save()"
                                        type="button"
                                        class="button small">
                                    <i class="fa fa-fw fa-lg fa-bullhorn"></i> Shout!
                                </button>
                            </div>
                        </form>

                        <div ng-show="messages.length">
                            <h2>Recent Posts</h2>

                            <div ng-repeat="message in messages"
                                 class="panel callout radius">
                                <h5>{{message.user}}</h5>
                                <p>{{message.text}}</p>
                                <div>
                                    <small>{{message.date}}</small>
                                    <a ng-click="remove($index)"
                                       class="right">
                                        <i class="fa fa-fw fa-trash-o"></i> Remove
                                    </a>
                                </div>
                            </div>
                        </div>

                        <p ng-hide="messages.length"><strong>No messages to show!</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vendor JS -->
        <script src="vendor/modernizr/modernizr.js"></script>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/foundation/js/foundation.min.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <!-- Custom JS -->
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="service/notification.js"></script>
        <script type="text/javascript" src="module/messages/messages.js"></script>
        <script type="text/javascript" src="module/stats/stats.js"></script>
    </body>
</html>
